@model VigoBAS_Start.Models.ForgottenUsernameModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page">

    <div class="row">
        <div class="col-lg-offset-4 col-md-offset-3 col-lg-4 col-md-6">
            <div class="form">
                <h1>Glemt brukernavn?</h1>

                <p>
                    Skriv inn mobilnummeret ditt så får du tilsendt brukernavnet ditt
                </p>
                <br />

                @using (Html.BeginForm("GetUsername", "ForgottenUsername", FormMethod.Post))
                {

                    @Html.AntiForgeryToken()

                    <div class="form__validation-summary">
                        @Html.ValidationSummary(true, "", new { Class = "validationerror" })
                    </div>

                        @Html.LabelFor(m => m.PhoneNumber)
                        <br />
                        @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Skriv inn ditt telefonnummer" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                        
                        if (Model.ShowPersonalNumberField)
                        {
                            @Html.LabelFor(m => m.PersonalNumber) 
                            <br />
                            @Html.TextBoxFor(m => m.PersonalNumber, new { placeholder = "Skriv inn ditt fødselsnummer" })
                            @Html.ValidationMessageFor(m => m.PersonalNumber)
                        }

                        <div class="row">
                            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="submit" value="Send" name="" />
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>

</section>




