@model VigoBAS_Start.Models.ActivateUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page">
    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6">
            <h1>Aktiver brukerkonto</h1>
        </div>
    </div>


    @Html.Partial("_ProgressList", Model)

    <div class="row">
        <div class="col-lg-offset-4 col-md-offset-3 col-lg-4 col-md-6">
            <div class="form">
                @if (Model.PasswordRules.Any())
                {
                    <p>
                        Det nye passordet må inneholde <strong>minst</strong>:
                        <ul>
                            @foreach (var rule in Model.PasswordRules)
                            {
                                <li>@rule</li>
                            }
                        </ul>
                    </p>
                }

                @using (Html.BeginForm("CreatePassword", "ActivateUser"))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Username)
                    @Html.HiddenFor(m => m.Code)
                    @Html.HiddenFor(m => m.AcceptedRegulation)

                    @Html.ValidationSummary(true, "", new { Class = "form__validation-summary" })


                    @Html.LabelFor(m => m.NewPassword)
                    <br />
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Skriv inn passord", value = Model.NewPassword })
                    @Html.ValidationMessageFor(m => m.NewPassword)

                    @Html.LabelFor(m => m.ConfirmPassword)
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Bekreft passord", value = Model.ConfirmPassword })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                
                    <div class="row">
                        <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <input type="submit" value="Aktiver bruker" name="" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>
