@model VigoBAS_Start.Models.ForgottenPasswordModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page">
    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6">
            <h1>Glemt passord</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
            <div style="margin: 0 auto; text-align: center;">
                <ul class="progressbar">
                    <li>Skriv inn brukernavn</li>
                    <li>Skriv inn engangskode</li>
                    <li class="active">Lag nytt passord</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-offset-4 col-md-offset-3 col-lg-4 col-md-6">
            <div class="form">

                @if (Model.PasswordRules.Any())
                {
                    <p>
                        Det nye passordet må inneholde <strong>minst</strong>:
                        <ul>
                            @foreach (var rule in Model.PasswordRules)
                            {
                                <li>@rule</li>
                            }
                        </ul>
                    </p>
                }

                @using (Html.BeginForm("CreatePassword", "ForgottenPassword"))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Username)
                    @Html.HiddenFor(m => m.Code)

                    @Html.ValidationSummary(true, "", new { Class = "form__validation-summary" })

                    @Html.LabelFor(m => m.NewPassword)
                    <br />
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Skriv inn passord", value = Model.NewPassword })
                    @Html.ValidationMessageFor(m => m.NewPassword)

                    @Html.LabelFor(m => m.ConfirmPassword)
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Bekreft passord", value = Model.ConfirmPassword })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)

                    <div class="row">
                        <div class="col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6">
                            <input type="submit" value="Endre passord" name="" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>
